<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns:margin-left="">
<head>
    <meta charset="UTF-8">
    <title>dr visit</title>
    <link rel="stylesheet" href="{% static 'css/drvisit.css' %}" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="treat">
  <form class="px-4 py-3" action="login" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label >Dr Id</label>
      <input type="text" class="form-control" name="username" placeholder="Dr Id Code">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck">
        <label class="form-check-label" for="dropdownCheck">
          Remember me
        </label>
      </div>
    </div>
    <input type="submit" class="btn btn-success" value="login">
  </form>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="Sign_up"><button type="submit" class="btn btn-danger">New account here? Sign up</button></a>
  <a class="dropdown-item" href="#">Forgot password?</a>
</div>
    </form>
</div>

</body>
</html>